* {
  background-color: #222436;
  color: #c8d3f5;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#workspaces button {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

#workspaces button.active {
  border-bottom: 2px solid #ff966c;
}

#workspaces button:hover {
  background: none;
  box-shadow: none;
}

#battery,
#network {
  min-width: 12px;
  margin: 0px 10px;
}

#battery.warning,
#battery.critical,
#network.disconnected,
#network.linked,
#network.disabled {
  color: #ff966c;
}
